/* nav styling */
.logo {
  color: white;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}

.nav-icon {
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  filter: invert(100%) sepia(74%) saturate(0%) hue-rotate(320deg) brightness(111%) contrast(101%);
}

.nav-toggle {
  display: none;
  position: absolute;
  top: 1.1rem;
  right: 2rem;
  color: white;
}

nav {
  width: 100%;
  overflow: hidden;
  transition: 250ms height ease-in-out;
}

ul {
  margin: 0;
}

.nav-flex {
  display: flex;
}

.nav-list {
  display: inline;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.2s border ease-in-out, 0.2s padding ease-in-out;
}

.nav-item {
  color: white;
  font-family: Montserrat, sans-serif;
  padding: 0 0.5rem;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
}

.nav-list:hover {
  border-bottom: solid #0f4b57 2px;
}

.nav-contain {
  padding: 0 2rem;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  background-color: #26a7ba;
}

/* main styling */

.overlay {
  background: rgba(15, 75, 87, 0.75);
  width: 100%;
  height: 40vh;
}

.cover-image {
  background-image: url("/images/empty-theatre.jpg");
  background-size: cover;
  background-position: center;
}

.white-text {
  color: white;
}

.header {
  font-size: 2.2rem;
}

.search-btn {
  background-color: transparent;
  text-transform: capitalize;
  border: solid white 2px;
  color: white;
  border-radius: 5rem;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 10rem;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.search-btn:hover {
  background-color: #26a7ba;
  border: solid #26a7ba 2px;
}

.search-input {
  border-radius: 5rem;
  border: solid #26a7ba 1px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 25rem;
}

.search-form {
  margin: 3rem 1rem;
}

input:focus {
  outline: none;
  border: solid #26a7ba 3px;
}

.search-input::-webkit-search-cancel-button {
  appearance: none;
}

/* footer styling */

.flex-wrap-footer {
  flex-wrap: nowrap;
}

.footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logo-footer {
  color: white;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  padding-right: 1rem;
}

.footer-link {
  color: white;
  font-family: Montserrat, sans-serif;
  margin: auto 0;
  padding: 0 0.5rem;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 400;
  cursor: pointer;
  text-align: right;
}

.footer-bg {
  background-color: #0f4b57;
}

.search-btn-footer {
  text-transform: capitalize;
  border: solid white 2px;
  background-color: transparent;
  color: white;
  border-radius: 5rem;
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.search-input-footer {
  border-radius: 5rem;
  border: solid #26a7ba 1px;
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
  margin-right: 0.2rem;
}

.footer-form {
  padding: 0;
}

.search-btn-footer:hover {
  background-color: #26a7ba;
  border: solid #26a7ba 2px;
}

.search-input-footer::placeholder {
  font-size: 0.8rem;
}

.search-input-footer::-webkit-search-cancel-button {
  appearance: none;
}

.upcoming-movie-btn,
.popular-movie-btn {
  background-color: #0f4b57;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  width: 70%;
  margin: 0 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.upcoming-movie-btn:hover,
.popular-movie-btn:hover {
  background-color: #26a7ba;
}

/* movie info block */

.movie-img-small {
  height: 250px;
}

.movie-title {
  font-weight: 600;
  font-size: 1.8rem;
}

.movie-info {
  font-weight: 400;
  font-size: 1.1rem;
}

.movie-details-wrapper {
  padding-left: 3rem;
  padding-right: 1rem;
}

.movie-border {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-right: solid #0f4b57 2px;
  border-top: solid #0f4b57 2px;
  border-bottom: solid #0f4b57 2px;
  margin-bottom: 4px;
}

.movie-btn {
  background-color: #26a7ba;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.search-results-info {
  font-size: 1.2rem;
}

.search-results-keyword {
  text-transform: italic;
  color: #0f4b57;
  font-weight: 700;
}

.search-results-number {
  text-transform: uppercase;
  color: #0f4b57;
  font-weight: 700;
}

/* modal styling */

.pos-relative {
  position: relative;
}

.transparent-bg {
  background-color: #323232a1;
  z-index: 1;
}

.window-full-heigth {
  height: 100vh;
}

.pos-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-container {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0 2rem;
  width: 550px;
}

.movie-img-card,
.list-movie-img-card {
  height: 350px;
}

.movie-title-card,
.movie-list-title-card {
  font-weight: 600;
  font-size: 1.8rem;
}

.movie-info-card,
.movie-info-card-date,
.movie-info-card-rating,
.movie-info-card-list-title,
.list-movie-info-card-date,
.list-movie-info-card-rating {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.movie-card-wrapper {
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.close-modal {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.modal-btn,
.list-modal-btn {
  color: #ad343e;
  background-color: transparent;
  border: solid #ad343e 2px;
  border-radius: 1rem;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.modal-btn:hover,
.list-modal-btn:hover {
  color: white;
  background-color: #ad343e;
}

.add-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: #26a7ba;
  border-radius: 5rem;
  padding: 0.4rem;
  margin: 1rem 2rem;
}

.add-modal-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: #26a7ba;
  border-radius: 5rem;
  padding: 0.4rem;
  margin: 1rem 0.5rem;
}

.subtract-icon,
.subtract-modal-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: #ad343e;
  border-radius: 5rem;
  padding: 0.4rem;
  margin: 0.5rem;
}

/* MOVIE ADDED MODAL */

.modal-movie-added {
  background-color: #26a7ba;
  width: 70%;
  padding: 0 1rem;
  border-radius: 1rem;
  position: fixed;
  top: 85px;
  right: 0;
  left: 0;
  height: 4vh;
}

.movie-added-title {
  color: white;
  font-family: "Roboto Slab", serif;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.modal-view-list-link {
  color: white;
  font-family: "Roboto Slab", serif;
  padding: 0;
  margin: 0;
  font-weight: 300;
  text-decoration: underline;
}

/* now playing section */

.now-playing-img {
  height: 200px;
}

.now-playing-title {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.now-playing-link {
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #26a7ba;
  font-weight: 400;
  text-decoration: underline;
}

.now-playing-ul {
  overflow-x: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.arrow {
  cursor: pointer;
  height: 50px;
}

.pos-left {
  position: absolute;
  left: -1.5rem;
  bottom: 50%;
}

.pos-right {
  position: absolute;
  right: -1rem;
  bottom: 50%;
}

@media (max-width: 768px) {
  .column-half {
    width: 100%;
  }

  .search-btn {
    width: 6rem;
  }

  .search-input {
    width: 15rem;
  }

  .flex-wrap-footer {
    flex-wrap: wrap;
  }

  .footer-link {
    text-align: center;
  }

  .nav-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    display: block;
    padding: 1rem 0;
    border-bottom: solid white 1px;
    width: 100%;
  }

  .nav-list:hover {
    padding-bottom: 0.5rem;
    border-bottom: solid #0f4b57 2px;
  }

  .nav-item {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  .nav-toggle {
    display: block;
  }

  nav {
    height: 0;
  }

  .nav-open {
    height: 30vh;
  }

  .upcoming-movie-btn,
  .popular-movie-btn {
    width: 100%;
  }

  .footer-margin-bottom {
    margin-bottom: 150px;
  }

  .footer-form {
    padding: 0 0.3rem;
  }
}
